* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  outline: none;
}
body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;

}
#heading {
  border-bottom: 1px solid black;
  margin-top:0.5vh;
}
main {
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}
.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 14vh;
  line-height: 1.6em;
  /* font-weight: 500; */
}
.quoter {
  margin-top: 2vh;
  text-align: right;
}

.data {
  margin-top: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#age-container {
  /* width: 18vw; */
  /* background-color:saddlebrown; */
  margin-top: 6vh;
  overflow-x: hidden;
}
#setdob {
  position: absolute;
  bottom: 1vh;
  left: 1vw;
}
.progress-container {
  width: 28.5vw;
  position: relative;
  /* background-color:rebeccapurple; */
}
.progress-name {
  display: inline-block;
}
.progress-bars {
  top: 0.9vh;
  display: inline-block;
  width: 17vw;
  height: 1.2em;
  border-radius: 3px;
  border: 2px solid black;
  position: absolute;
  right: 4.5vw;
}
#month-percent{
  position: absolute;
  right:0;
  top: 0.6vh;
  font-size: 0.88em;
}
#day-percent{
  position: absolute;
  right:0;
  font-size: 0.88em;
  top: 0.6vh;

}
#year-percent{
  position: absolute;
  top: 0.6vh;
 font-size: 0.88em;
  right:0;  
}
.progress {
  width: 0%;
  height: 100%;
  background-color: black;
}

#drawer {
  position: absolute;
  height: 100vh;
  /* width: 10vw; */
  right: -25vw;
  top: 0;
  background-color: rgb(56, 55, 55);
  color: white;
  display: flex;
  align-items: center;
  transition:0.55s;
  /* justify-content: center; */
}
#drawer-toogle {
  width: 3vw;
    height:100%;
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
    cursor: pointer;
}
.todo-container {
  width: 25vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-container h3{
    width:25vw;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 0.3em;
    letter-spacing: 2px;
    /* margin-bottom: 1em; */
}
.todo-container ul{
    /* background-color:rebeccapurple; */
    width:25vw;
    list-style: none;
    height:70vh;
    overflow-y:auto;
    overflow-x: hidden;
    word-break: break-all;
}
#todolist::-webkit-scrollbar{
    width:0.2vw;
    /* height:100%; */
    background-color:black;
}
#todolist::-webkit-scrollbar-thumb{
    background-color:white;
}
#task-name{
  width:75%;
}
.todo-container li{
    padding:0.5em 1em;
    border-bottom: 1px solid rgb(110, 110, 110);
    display:flex;
    align-items: center;
    justify-content:space-between;
}
#remove{
  height:1.2em;
  width:1.2em;
  background-image: url("./images/cross.svg");
  background-size: 160%;
  background-position: 47% -10%;
  background-repeat: no-repeat;

  background-color:rgb(255, 60, 60);
  border-radius:25px;
  border: none;
  cursor: pointer;

 
}
#checkbox{
  width:1.05em;
  height:1.05em;
  background-color:white;
  /* background-color:green; */
  cursor: pointer;
  border-radius:3px;
  /* background-image: url('./images/done.svg'); */
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}
#checkbox:hover{
  background-color:rgb(221, 221, 221);
  
}
#input-task{
  color: white;
  padding:0.2em;
  font-size:1.1em;
  background-color:transparent;
  border: none;
  border: 1px solid rgb(148, 148, 148);
  margin-top:6vh;
  border-radius:3px;
  width:80%;
}
#input-task:focus{
  border: 1.7px solid rgb(182, 182, 182);
}
#clear{
  padding: 0.2em 1em;
  border-radius:5px;
  margin-top:2.5em;
  background-color:rgb(255, 85, 85);
  border: none;
  /* border: 1px solid black; */
  cursor: pointer;
  color: white;
}
#numberoftasks{
  position:absolute;
  right:4vw;
  bottom:1vh;
}